<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Commands</title>
</head>
<body>
    <h2>Important Commands</h2>
    <pre>
    Virtual environment setup:
    python3 -m venv mqtt_env
    source mqtt_env/bin/activate
    pip install flask flask-socketio paho-mqtt
    python flask1.py

    Ngrok setup:
    ngrok http 5000

    Tmux setup:
    tmux
    python3 webserver.py
    ctrl + b -> c (new window)
    exit (to exit tmux)
    </pre>
    <br><br>
    <button onclick="window.location.href='/'">Back to Home</button>
</body>
</html>
